.home-background {
  background-image: url("../../public/Images/1000132333.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 900px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 95dvw;
  min-height: max-content;
  padding: 15px 0px 0px 42px;
  position: fixed;
  z-index: 10;
}

.heading {
  font: normal normal bold "DIN Condensed";
  width: 100vw;
  height: 230px;
  color: white;
  text-align: center;
  translate: 20px 0px;
}

.navbar-logo {
  font: normal normal bold 28px/23px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  margin-right: 12px;
  cursor: pointer;
}

.left-text {
  text-align: center;
  font: normal normal bold 18px/52px DIN Condensed;
  letter-spacing: 0.18px;
  color: #333333;
  opacity: 1;
  margin-left: 48px;
  cursor: pointer;
}

.right-text {
  text-align: center;
  font: normal normal bold 18px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  margin-left: 60px;
  cursor: pointer;
}

.body {
  display: flex;
  width: 100vw;
  height: max-content;
  justify-content: space-between;
  align-items: top;
  margin-top: 5vh;
}

.meter {
  height: 130px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  margin-left: 27px;
  z-index: 10;
}

.big-rect {
  width: 30px;
  height: 1.5px;
  background: #333333 0% 0% no-repeat padding-box;
  opacity: 1;
}

.small-rect {
  width: 15px;
  height: 1.5px;
  background: #333333 0% 0% no-repeat padding-box;
  opacity: 1;
}

.spacer {
  width: 10vh;
}

#number {
  text-align: left;
  font: normal normal bold 18px/52px DIN Condensed;
  letter-spacing: 0.18px;
  color: #333333;
  opacity: 1;
  position: absolute;
  top: -14px;
  left: 2px;
}

#small-text {
  font: normal normal bold 35px/52px DIN Condensed;
}

.medium-text {
  font: normal normal bold 82px/95px DIN Condensed;
}

#large-text {
  font: normal normal bold 115px/95px DIN Condensed;
}

.home-button {
  background-color: white;
  padding: 0px 9.4px 0px 9.6px;
  height: 30px;
  transform: matrix(0, -1, 1, 0, 12, 0);
  padding-top: 4px;
  color: #333333;
  margin-top: 40px;
  position: fixed;
  right: 3px;
}

button {
  box-shadow: none;
  border: none;
  padding: 0px 9.4px 0px 9.6px;
  height: 30px;
  text-align: center;
  font: normal normal bold 18px DIN Condensed;
  letter-spacing: 0.18px;
  color: #333333;
  cursor: pointer;
}

#stamp {
  margin-top: 17vh;
  margin-left: 20vw;
}
