.footer-background {
  background-color: #333333;
  height: 300px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  /* padding-bottom: 30px; */
}

.container-div {
  width: 100vw;
  /* height: max-content; */
  /* padding-bottom: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 50px 20px 50px;
}

.logo {
  text-align: right;
  font: normal normal bold 35px/38px DIN Condensed;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 2vh;
  margin-right: 10vw;
}
.large-logo {
  text-align: right;
  font: normal normal bold 62px/52px DIN Condensed;
  letter-spacing: 0px;
  color: #ffffff;
}

.section {
  text-align: left;
  font: normal normal bold 14px/22px DIN Condensed;
  letter-spacing: 0.14px;
  color: #ffdac9;
  opacity: 1;
  width: 115px;
}

.subsections {
  text-align: left;
  font: normal normal normal 13px/20px Gill Sans;
  letter-spacing: 0.13px;
  color: white;
  opacity: 1;
}

.section-container {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 100px;
}

.company {
  text-align: left;
  font: normal normal normal 13px/20px Gill Sans;
  letter-spacing: 0.13px;
  color: #767676;
  margin-left: 120px;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  width: 229.09px;
  margin-right: 8vw;
}

.social-icons {
  height: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-background {
    flex-direction: column;
    padding-top: 0px;
    height: max-content;
    padding-bottom: 10px;
  }

  .section-container {
    flex-direction: column;
    order: 2;
    margin-left: 0px;
    width: max-content;
    /* display: none; */
  }

  .accordion-section {
    text-align: center;
    width: 322px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-container {
    flex-direction: column;
    width: inherit;
    margin-top: 20px;
    align-items: center;
  }

  .logo {
    margin: 0px;
    margin-top: 25px;
    text-align: center;
  }

  .large-logo {
    text-align: center;
  }

  .container-div {
    margin: 10px 0px 10px 0px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .company {
    width: 322px;
    margin: 0px;
    text-align: center;
  }

  .socials {
    margin-top: 40px;
  }

  .accordion-section .section {
    cursor: pointer;
  }

  .subsection-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .subsection-container.expanded {
    max-height: 100vh;
    border-bottom: white solid 1px;
  }

  .subsection-container.collapsed {
    max-height: 0;
  }

  .section {
    width: 100%;
    border-bottom: white solid 1px;
  }
}
